<div class="col-md-6 col-md-offset-3">
  <%= simple_form_for @sim_type do |f| %>
      <%= f.input :kind %>
      <%= f.input :active, as: :boolean, label: "Activate" %>
      <div class="links">
        <%= f.submit class: "btn btn-success center-block" %>
      </div>
  <% end %>
</div>


<div class="col-md-6 col-md-offset-1">
  <p><%= link_to '< Back', sim_types_path, class: "btn btn-link", role: "button" %></p>
</div>
