<div class="row col-md-6 col-md-offset-3">
  <div class="form-bg">
    <%= bootstrap_form_for(@sim_type) do |f| %>
        <%= f.text_field :kind, label: "Kind:" %>
        <div class="st_checkbox">
          <%= f.check_box :active, label: "Is Active" %>
        </div>
        <div class="row col-md-offset-4">
          <%= f.submit class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>

<div class="col-md-6 col-md-offset-1">
  <p><%= link_to '< Back', sim_types_path, class: "btn btn-link", role: "button" %></p>
</div>
