<%= simple_form_for @order do |f| %>
    <%= f.input :name %>
    <%= f.input :surname %>
    <%= f.input :tz, as: :string, input_html: {maxlength: 9} %>
    <%= f.input :phone, as: :tel %>

    <h3 align="center">Simcard(-s):</h3>

    <div id="simcards">
      <%= f.simple_fields_for :simcards do |sim| %>
          <%= render 'simcard_fields', f: sim %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add sim', f, :simcards %>
      </div>
    </div>
    <%= f.button :submit %>
<% end %>


