<div class="row col-md-6 col-md-offset-3">
  <%= bootstrap_nested_form_for(@order, label_errors: true) do |f| %>
      <div class="form-bg">
        <%= f.text_field :name, label: "Name:", icon: "user" %>
        <%= f.text_field :surname, label: "Surname:", icon: "user" %>
        <%= f.text_field :tz, label: "Teudat zeut:", icon: "pencil" %>
        <%= f.phone_field :phone, label: "Phone:", icon: "phone-alt" %>

        <h2 align="center">Simcard(-s):</h2>
        <div class="simcard_field clearfix">
          <%= f.fields_for :simcards %>
          <%= f.link_to_add "Add simcard", :simcards, class: "btn btn-success" %>
        </div>
      </div>

      <div class="row col-md-offset-4">
        <%= f.submit class: "btn btn-primary new-order-btn" %>
      </div>
  <% end %>
</div>

<div class="col-md-6 col-md-offset-1">
  <p><%= link_to '< Back to orders', orders_path, class: "btn btn-link", role: "button" %></p>
</div>

