<h1>Order show page</h1>

<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <caption>Order id:<%= @order.id %> created at: <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %> Operator: "Some
      Name"
    </caption>
    <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @order.name %></td>
    </tr>

    <tr>
      <td class="col-sm-1"><strong>Surname:</strong></td>
      <td class="col-sm-3"><%= @order.surname %></td>
    </tr>

    <tr>
      <td class="col-sm-1"><strong>Teudat zehud:</strong></td>
      <td class="col-sm-3"><%= @order.tz %></td>
    </tr>

    <tr>
      <td class="col-sm-1"><strong>Phone:</strong></td>
      <td class="col-sm-3"><%= @order.phone %></td>
    </tr>
    <tr>
      <td class="col-sm-4" colspan="2">Total sim cards: <strong><%= @order.simcards.count %></strong></td>
    </tr>
    <tr>
      <td class="col-sm-1"><strong>Simcard Type: </strong></td>
      <td class="col-sm-3"><strong>Simcard Tariff:</strong></td>
    </tr>
    <% @order.simcards.each do |sim| %>
        <tr colspan="2">
          <td class="col-sm-1"><%= sim.sim_type %> </td>
          <td class="col-sm-2"> <%= sim.tariff %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-12 ">
      <p>
        <%= link_to 'Edit', edit_order_path, class: "btn btn-primary", role: "button" %>
        <%= link_to 'Delete', order_path(@order), method: :delete,
                    data: {confirm: 'Are you sure?'}, class: "btn btn-danger", role: "button" %>
      </p>
    </div>
    <div class="col-md-2 ">
      <p><%= link_to '< Back to orders', orders_path, class: "btn btn-link", role: "button" %></p>
    </div>
  </div>
</div>







