<h1>Order show page</h1>

<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <caption>Order id:<%= @order.id %> created at: <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %> Operator: "Some Name"</caption>
    <tbody>
    <tr>
      <td ><strong>Name:</strong></td>
      <td ><%= @order.name %></td>
    </tr>

    <tr>
      <td class="col-sm-1"><strong>Surname:</strong></td>
      <td class="col-sm-3"><%= @order.surname %></td>
    </tr>

    <tr>
      <td class="col-sm-1"><strong>Teudat zehud:</strong></td>
      <td class="col-sm-3"><%= @order.tz %></td>
    </tr>

    <tr>
      <td class="col-sm-1"><strong>Phone:</strong></td>
      <td class="col-sm-3"><%= @order.phone %></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-sm-10 ">
  <p><%= link_to '< Back to orders', orders_path, class: "btn btn-link", role: "button" %></p>
</div>
</div>

